@use '../abstracts' as *;

// 店舗ページ

//------------------
// NEW 202201 今後は.sp_localstoredetail_page内へまとめていくこと。
//------------------
.sp_localstoredetail_page {
	.pref_review_star i {
		font-size: $font_size_small;
	}

	.lead-paragraph {
		padding: 13px 3%;
		font-size: $font_size_tiny;
	}

	.search_list_title {
		padding: 6px 3%;
		background-color: #c6e7fe;
		border-top: 1px solid #53b8ff;

		> h2 {
			margin: 0;
			display: inline-block;
			font-size: 13px;
			color: $black;
			font-weight: $font_weight_bold;
		}
	}

	.contents_top_title_div {
		background-color: #6790c4 !important;
		padding: 2% 3%;

		.contents_table_row {
			display: table-row;

			.contents_table_row_title {
				color: $white;
				font-size: 13px;
				display: table-cell;
				width: 100%;
				vertical-align: middle;
				line-height: 17px;
			}
		}

		img {
			display: table-cell;
			width: 32px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.store_detail_table {
		width: 100%;
		font-size: 13px;

		th {
			background-color: #f5f5f5;
			padding: 12px 3%;
			border-top: 1px solid #b4b4b4;
			border-left: none;
			border-right: none;
			width: 40%;
			font-weight: $font_weight_bold;
		}

		td {
			background-color: $white;
			padding: 12px 3%;
			border-top: 1px solid #b4b4b4;
			border-left: none;
			border-right: none;
			word-break: break-word;
		}
	}

	.border-bottom_tr {
		th,
		td {
			border-bottom: 1px solid #b4b4b4;
		}
	}

	.ggl_map_div {
		padding: 15px 3% 25px;

		iframe {
			width: 100%;
			min-height: 230px;
		}
	}
}
//------------------
