@use '../abstracts' as *;

// エリア、港、空港、info、市区町村、地方、駅一覧
// #company_list_contents_topと酷似
.section_title_blue {
	clear: both;
	background-color: #3f71b4;
	padding: 10px 20px;
	padding-left: 60px;
	margin-bottom: ($margin_base * 2);
	line-height: 2rem;
	text-align: center;
	position: relative;

	&::before {
		font-family: 'icomoon' !important;
		content: '\e912';
		display: inline-block;
		z-index: 1;
		position: absolute;
		left: 14px;
		top: calc(50% - 10px);
		font-size: 17px;
		color: #6790c4;
	}

	&::after {
		content: '';
		display: inline-block;
		position: absolute;
		left: 12px;
		top: calc(50% - 15px);
		width: 30px;
		height: 30px;
		background-color: $white;
		border-radius: 50%;
	}

	// &.no-margin {
	// 	margin: 0;
	// }

	// &.no-icon {
	// 	background-image: none;
	// 	padding: 10px 20px;
	// }

	h2,
	h1 {
		color: $white;
		font-size: $font_size_small;
		display: inline-block;
	}

	// h1.page_title_h2 {
	// 	color: $white;
	// 	font-size: $font_size_small;
	// 	display: inline-block;
	// }

	img {
		vertical-align: middle;
		margin-right: 16px;
	}
}
