@use '../abstracts' as *;

// SP accordion
// mypages,reservations
// このほかにもprefectureページに独自のアコーディオンが存在するようだ。。

.accordion {
	background: $white;
	border-top: solid 2px $white;

	.trigger {
		padding: 10px 10px 10px 15px;
		background-color: #f7f7f7;
		border-bottom: solid 2px $white;

		&.active {
			border-bottom: 1px solid $white;
		}
	}

	.acordion_tree {
		padding: 15px;
		word-wrap: break-word;
	}

	.open-close {
		float: right;
		text-indent: -9999px;
		display: block;
		margin-top: 3px;
		height: 19px;
		background: url(../../img/sp/open.png) no-repeat;
		-webkit-background-size: 19px 19px;
		width: 19px;
	}

	.trigger.active .open-close {
		background: url(../../img/sp/close.png) no-repeat;
		-webkit-background-size: 19px 19px;
	}
}
