@use '../abstracts' as *;

// 現状結局、直書きのerror.cssが上書いてる→今後、他と統一して、一旦SCSS使う方式にした後、個別にCSSを読み込むようにしていきたい
// 本番と開発でSPの表示が違うので注意（本番ではメディアクエリがちゃんと機能しているが、開発ではPC版スタイルが適用されている）

main.error_wrapper {
	display: block;
	height: 100vh;
	font-size: 1rem;
	color: $white;
	background: $main-color url('/rentacar/img/error.jpg') top center no-repeat;
	background-size: cover;
}

.error_container {
	width: 1000px;
	margin: 0 auto;
	padding-top: 3em;

	h2 {
		margin-bottom: .4em;
	}

	p {
		margin-bottom: 3em;
		line-height: 2;
		font-size: .9em;
		letter-spacing: 1.23px;
	}

	hr {
		height: 0;
		margin: 15px 0;
		border: 0;
		border-top: 1px solid #ddd;
		box-sizing: content-box;
	}

	a {
		color: $white;
		text-decoration: underline;
		transition: opacity .2s linear;

		&:hover {
			opacity: .8;
		}
	}
}

a.btn_link_home {
	display: block;
	width: 270px;
	padding: 1em 2em;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1.23px;
	font-size: .9em;
	background-color: #1f5eb4;
	box-sizing: border-box;
}

@media screen and (max-width: 640px) {
	html {
		font-size: $font_size_small;
	}

	.error_container {
		width: 90%;
		margin: 0 auto;
		padding: 2rem 0;

		h2 {
			font-size: 1.5rem;
			font-weight: $font_weight_bold;
			text-shadow: 0 1px 1px #14425a;
		}
	}

	.maintenance__container p {
		line-height: 1.5em;
	}

	a.btn_link_home {
		width: 100%;
	}
}
