@use '../abstracts' as *;

// SP 詳細検索フォームのメインパーツ（検索結果一蘭ページのみ使用中）
// sp_new_searchform_main.ctp

.new_searchform_main_section {
	.searchform_main_title {
		margin-bottom: $margin_base * 2;
		line-height: 1;
		font-size: $font_size_medium;
		font-weight: $font_weight_bold;
	}

	// 日時選択
	.searchform_main_datetime {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.select_datetime_wrap {
			background: $white;
			border-radius: $border_radius;
			padding: 0 $margin_base;
			border: 1px solid $dark-gray;

			.select_date_box,
			.select_time_box {
				position: relative;
				padding-top: $margin_base;
				padding-bottom: $margin_base;
				text-align: center;
			}

			.select_date_box {
				border-bottom: 1px dotted $dark-gray;
			}

			.select_date_box input,
			.select_time_box select {
				display: inline-block;
				height: 20px;
				padding: 0;
				width: 100%;
				line-height: 1;
				text-align: center;
				min-height: unset;
				text-overflow: unset;
				border: none;
				font-size: $font_size_medium;
			}

			.select_time_box select {
				width: fit-content;
			}
		}

		.arrow-wrap {
			margin: 0 4px;
			text-align: center;
			color: $dark-gray;
			font-size: $font_size_x-large;
		}

		&-ab {
			display: flex;
			flex-direction: column;
			background: $white;

			.select_datetime_wrap {
				& + .select_datetime_wrap {
					margin: $margin_base 0 $margin_base * 2;
				}

				.select_datetime_title {
					font-size: $font_size_tiny;
				}

				.select_datetime_form {
					display: flex;
					column-gap: $margin_base;
					margin-top: $margin_base;

					& > * {
						flex: 1;
					}
				}

				.select_date_box,
				.select_time_box {
					border: 1px solid $gray;
				}

				.select_date_box input,
				.select_time_box select {
					height: 36px;
					display: flex;
					align-items: center;
					min-height: unset;
					text-overflow: unset;
					border: none;
					font-size: $font_size_small;
				}

				.select_time_box select {
					width: fit-content;
				}
			}
		}
	}

	.search_hr {
		height: 1px;
		margin: $margin_base * 2 0;
		border: 0;
		background: $gray;

		&-full {
			height: 1px;
			border: 0;
			background: $gray;
			margin: $margin_base * 3 $margin_base * -2;
		}
	}

	// 返却場所指定
	.search_select_return {
		display: none;
		padding-top: $margin_base * 4;
	}

	// 出発場所、返却場所指定　共通
	.select_place_ul {
		display: flex;
		column-gap: $margin_base * 2;
		width: 100%;
		margin-bottom: $margin_base * 3;

		.select_place_li {
			flex: 1;
		}
	}

	.select_place_tab {
		display: block;
		position: relative;
		padding: 12px 0;
		height: 44px;
		border: 1px solid #009fff;
		border-radius: 2px;
		box-sizing: border-box;
		text-align: center;
		font-size: $font_size_tiny;
		letter-spacing: .5px;
		box-shadow: none;

		.select_place_icon {
			display: inline-block;
			vertical-align: middle;
			color: #009fff;

			&.icm-ticket-title {
				margin-right: 6px;
				font-size: $font_size_x-large;
			}

			&.icm-location,
			&.icm-train {
				margin-right: 6px;
				font-size: $font_size_large;
			}
		}

		.select_place_tab_text {
			display: inline-block;
			vertical-align: middle;
			font-weight: $font_weight_bold;
		}

		&.is_selected {
			color: $white;
			background: #009fff;

			&::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				width: 0;
				height: 0;
				margin-left: -10px;
				border: 8px solid transparent;
				border-top: 10px solid #009fff;
			}

			> .select_place_icon {
				color: $white;
			}
		}
	}

	.select_place_form {
		box-sizing: border-box;
	}

	.select_place_ol,
	.select_return_ol {
		display: none;

		li {
			&:empty {
				height: 30px;
				margin-bottom: 12px;
			}

			&:last-of-type label {
				margin-bottom: 0;
			}

			label {
				position: relative;
				display: block;
				margin-bottom: 12px;
				border-bottom: 1px solid #c5c5c5;
			}

			select {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width: 100%;
				line-height: 1;
				padding: 0;
				padding-bottom: 12px;
				border: none;
				border-radius: 0;
				font-size: $font_size_medium;
				background: $white;
			}
		}

		.dept-place-selected-pref,
		.disabled_placeholder,
		.return-place-selected-pref,
		.disabled_placeholder {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 18px;
			padding-bottom: 12px;
			font-size: $font_size_medium;
			color: #c5c5c5;
			background: $white;
			pointer-events: none;
		}

		i {
			position: absolute;
			top: 50%;
			right: 12px;
			margin-top: -10px;
		}
	}

	// 乗り捨てチェックボックス
	.return_way_checkbox {
		padding-top: $margin_base * 2;
		box-sizing: border-box;

		.form-checkbox {
			& + label {
				position: relative;
				padding-left: 24px;
				display: inline;

				&::before {
					position: absolute;
					margin: 0;
					bottom: 0;
					left: 0;
					top: 0;
					background: $white;
					width: 14px;
					height: 14px;
					border-radius: 3px;
					line-height: 1;
				}

				&::after {
					content: none;
				}

				p {
					font-weight: $font_weight_normal;
					font-size: $font_size_tiny;
					line-height: 1.4;
				}
			}
		}
	}

	// .return_way_input {
	// 	display: none;
	// }
}
