@use '../abstracts' as *;

.caution_gray {
	display: flex;
	align-items: center;
	border-radius: $border_radius;
	padding: 10px;
	width: 100%;
	background-color: $light-gray;
	color: $spear-gray;
	font-size: $font_size_tiny;

	& .icm-info-button-fill {
		padding-right: 10px;

		&::before {
			font-size: $font_size_medium;
		}
	}
}
